name: bluebreeze_flutter
description: "BlueBreeze Flutter SDK. A modern Bluetooth LE library."
version: 0.0.15
homepage: https://likemagic.dev

environment:
  sdk: ^3.5.3
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  plugin:
    platforms:
      android:
        package: dev.likemagic.bluebreeze_flutter
        pluginClass: BluebreezeFlutterPlugin
      ios:
        pluginClass: BluebreezeFlutterPlugin
